td {
    border: 1px solid black;
}

.toolbar {
    border: 1px solid black;
    margin: 10px;
}

.booklist {
    border: 1px solid black;
    margin: 10px;
    min-width: 10px;
}

/* NewRoom */

.room-map {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    border: 3px solid black;
    min-height: 200px;
    overflow: auto;
}

.box {
    border: 1px solid black;
}

.room-sec {
    display: flex;
    justify-content: center;
    border: 3px solid orange;
}

.arrw {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    width: 50px;
}

.arrw:hover {
    cursor: pointer;
}

.hde {
    display: none;
}

.newroom {
    position: relative;
}

.pm-r {
    position: absolute;
    top: 0;
    font-size: 2rem;
}

.pm-r:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.pl-room {
    right: 100px;
}

.pl-room:active {
    color: lime;
}

.min-room {
    right: 10px;
}

.min-room:active {
    color: red;
}


/* New Bookcase */

.bookcase {
    border: 1px solid black;
    padding: 5px;
}