

td {
    border: 1px solid black;
}

.toolbar {
    border: 1px solid black;
    margin: 10px;
}

.booklist {
    border: 1px solid black;
    margin: 10px;
    min-width: 10px;
}

tr:hover {
    cursor: pointer;
}

.table-contain {
    position: relative;
    overflow: auto;
    border: 3px solid rgb(70, 75, 75);
    min-height: 50px;
    padding: 10px;
}

.pm-sh {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 2rem;
}

.pm-sh:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.pm-sh:active {
    color: lime;
}



/* NewRoom */

.room-map {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    border: 3px solid black;
    min-height: 200px;
    overflow: auto;
}

.box {
    border: 1px solid black;
}

.room-sec {
    display: flex;
    justify-content: center;
    /* border: 3px solid orange; */
}

.arrw {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    width: 50px;
}

.arrw:hover {
    cursor: pointer;
}

.hde {
    display: none;
}

.newroom {
    position: relative;
}

.newroom form {
    display: flex;
    flex-direction: column;
}

.nr-ff {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.nr-ff label {
    font-size: .8rem;
    opacity: .5;
}
.nr-ff input {
    margin: 5px;
    padding: 3px;
}
.nr-ff button {
    margin-top: 20px;
}


.pm-r:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}


.pl-room:active {
    color: lime;
}



.min-room:active {
    color: red;
}


/* New Bookcase */

.bookcase {
    border: 1px solid black;
    padding: 5px;
}

.new-bookcase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px !important;
    /* border: 3px solid blue; */
}

.new-bookcase form {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 0px;
}

.new-bookcase label {
    font-size: .8rem;
    opacity: .5;
}

.new-bookcase form {
    /* border: 1px solid black; */
}

.new-bookcase input {
    margin: 5px;
    padding: 3px;
}

/*

.nr-ff {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.nr-ff label {
    font-size: .8rem;
    opacity: .5;
}
.nr-ff input {
    margin: 5px;
    padding: 3px;
}
.nr-ff button {
    margin-top: 20px;
}
*/

/* .pm-bc {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 2rem;
} */

.pm {
    display: flex;
    justify-content: space-around;
    width: 30%;
    position: absolute;
    top: -40px;
    right: -40px;
}
.bookcase + .pm {
    top: -20px;
}

.sh-b .pm {
    top: 90px;
}


.pm-r {
    font-size: 2rem;
}

.ed:active {
    color: rgb(197, 197, 184);
}

/* .pm-bc:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.pm-bc:active {
    color: lime;
} */

.shelf {
    display: flex;
    justify-content: stretch;
    border: 1px solid black;
    margin: 0;
}

.shelf span {
    outline: 1px solid black;
    height: 100%;
    flex: 1;
}



/* New Book */
.sh-b {
    position: relative;
    /* border: 3px solid plum; */
}

.ff {
    /* border: 3px solid purple; */
    padding: 10px;
}

.pm-b {
    font-size: 2rem;
}


.pm-b:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.pm-b:active {
    color: red;
}

.nb-contain {
    position: relative;
    padding: 20px;
}

.nb-contain .pm {
    top: -10px;
}

.nb-contain form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nb-contain form input {
   padding: 3px;
   margin: 5px;
}

/*
Search
*/

.search-lib {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 20px;
    width: 300px;
}
.search-lib input {
    border: none;
    background-color: rgb(226, 225, 214);
    border-radius: 5px;
    height: 18px;
}
.search-lib input:focus {
    outline: 3px solid rgb(224, 223, 223);
}

.x-results {
    position: absolute;
    right: 6px;
    top: 1px;
    font-size: 1rem;
}

.search-lib select {
    border: none;
 
}


.loading {
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #645959; /* Light grey */
    border-top: 10px solid rgb(70, 69, 69); /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.b-section {
    border: none;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
    border-radius: 5px;
    margin: 50px;
}
.b-section:nth-child(1) {
    margin-bottom: 20px;
}

.rooms {
    margin-top: 50px;
}


/* 
.bookcases {
    margin: 50px;
}

.new-bookcase {
    margin-top: 30px;
} */

.b-sec-center {
    position: relative;
    display: flex;
    justify-content: center;
}
.b-sec-line {
    z-index: 1;
    opacity: .1;
    position: absolute;
    top: 63%;
    bottom: 100px;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    width: 90%;
    height: 1px;
}

.b-section:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.b-section:active + .b-sec-line {
    background-color: antiquewhite;
    border-color: antiquewhite;
    opacity: 10;
}

.ff-contain {
    display: flex;
    justify-content: center;
}
.ff-contain form {
    min-width: 40%;
}

.ff-contain form label {
    font-size: .8rem;
    opacity: .5;
}
.ff-contain form input[type="button"] {
    margin-left: 25%;
    width: 50%;
}
#color + input {
    position: absolute;
    top: 145px;
    width: 5%;
}
#color {
    width: 50%;
}



