td {
    border: 1px solid black;
}

.toolbar {
    border: 1px solid black;
    margin: 10px;
}

.booklist {
    border: 1px solid black;
    margin: 10px;
    min-width: 10px;
}

tr:hover {
    cursor: pointer;
}

.table-contain {
    position: relative;
    overflow: auto;
    border: 3px solid teal;
    min-height: 50px;
    padding: 10px;
}

.pm-sh {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 2rem;
}

.pm-sh:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.pm-sh:active {
    color: lime;
}



/* NewRoom */

.room-map {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    border: 3px solid black;
    min-height: 200px;
    overflow: auto;
}

.box {
    border: 1px solid black;
}

.room-sec {
    display: flex;
    justify-content: center;
    border: 3px solid orange;
}

.arrw {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    width: 50px;
}

.arrw:hover {
    cursor: pointer;
}

.hde {
    display: none;
}

.newroom {
    position: relative;
}


.pm-r:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}


.pl-room:active {
    color: lime;
}



.min-room:active {
    color: red;
}


/* New Bookcase */

.bookcase {
    border: 1px solid black;
    padding: 5px;
}

.new-bookcase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
  
}

.new-bookcase form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.new-bookcase label {
    font-size: 15px;
}

/* .pm-bc {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 2rem;
} */

.pm {
    display: flex;
    justify-content: space-around;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
}

.pm-r {
    font-size: 2rem;
}

.ed:active {
    color: rgb(197, 197, 184);
}

/* .pm-bc:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.pm-bc:active {
    color: lime;
} */

.shelf {
    display: flex;
    justify-content: stretch;
    border: 1px solid black;
    margin: 0;
}

.shelf span {
    outline: 1px solid black;
    height: 100%;
    flex: 1;
}



/* New Book */
.sh-b {
    position: relative;
    border: 3px solid plum;
}

.ff {
    border: 3px solid purple;
    padding: 10px;
}

.pm-b {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 2rem;
}


.pm-b:hover {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.pm-b:active {
    color: red;
}

.nb-contain {
    position: relative;
}